body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
.container {
    min-width: 100%;




}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}

.avatar-upload {
  position: relative;


}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;

  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;

}
.avatar-upload .avatar-edit input + label {
  display: inline-block;

  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;

}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;

  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 100%;
  height: 38vh;
  position: relative;
    border-radius: 40px;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
    border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container2 {
   max-width: 50px;
    padding-left: 5vw;
    margin-top: -140px;

}


.avatar-upload2 {
    position: relative;
    max-width: 205px;
    margin: 50px auto;


}
.avatar-upload2 .avatar-edit2 {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload2 .avatar-edit2 input {
    display: none;

}
.avatar-upload2 .avatar-edit2 input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload2 .avatar-edit2 input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;

}
.avatar-upload2 .avatar-edit2 input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload2 .avatar-preview2 {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload2 .avatar-preview2 > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper1 {
    display: grid;


    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10%;
    height: 70%;
    padding-top: 15%;

}

.one {

    border-color: snow;
    border-radius: 10px;
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

.two {
    margin-top: 2%;

    border-radius: 10px;
    grid-column: 1 / 5;
    grid-row: 2 / 5;
}

@media screen and (min-width:736px) {
    .wrapper1 {

        display: grid;

        margin-top: -230px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 633px;


    }

    .one {


        background-color: #7386d5;
        border-radius: 10px;
        grid-column: 1 /1;
        grid-row: 1 / 5;

    }
    .infobox{
        padding-top: 2%;
        height: auto;
        border-bottom: 50px;
        background-color: #7386d5;

    }
    .aboutme{
        padding-top: 6%;
        padding-bottom: 2%;
        background-color: #859aef;


    }
  .email{
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 1vw;
      padding-left: 2.5%;
  }

    .row {
        padding: 9%;
        background-color: #7386d5;

    }
    .skills h4{

        font-family: 'Noto Sans SC', sans-serif;
        text-align: center;
        font-size: 2vw;
        padding-top: 2.5%;
        color: snow;
    }

    .column {
        float: left;

        margin: 0.3vw;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .name{
        text-align: center;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: initial;
        color: whitesmoke;
        font-size: 2.7vw;

    }



    .two {

        margin-top: 0%;
        margin-left: 2%;
        border-color: snow;
        border-radius: 10px;
        grid-column: 2 / 5;
        grid-row: 1 / 5;
    }}




@media screen and (min-width:736px) {
    .inhalt {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
        min-height: 80px;
        width: 60vw;
        background-color: #6e81c9;
        height: auto;
        margin-top: 3%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 20px;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .profil_bild_post img{
        grid-column: 1 /5;
        grid-row: 1 / 1;


        display: block;

        object-fit: cover;

        min-height: 100px;
        min-width: 100px;
        max-height: 100px;
        max-width: 100px;
        border-image: 30 round;
        border-radius: 10%;
        border:2px solid #167ffb;
        border-width:2px;
        border-style:solid;
        border-color:#167ffb;
    }
    .profil_bild_post{
        margin: auto;
        width: auto;
        border-radius: 7px;
        border-right: 6px solid #F8F8F8;

        padding-right: 40px;
        padding-left: 40px;



    }
    .text{
        grid-column: 2 / 6;
        grid-row: 1 / 1;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-size-adjust: inherit;
    }
    .text h3{
        margin: auto;
        width: auto;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        color: whitesmoke;
        font-size: 4vw;

    }
    .text h4{
        font-family: 'Montserrat', sans-serif;
        color: #212529;
        font-size: 14px;
        margin: auto;
        width: auto;
        padding-left: 20px;}
    .text button{
        float: right;
        background: #fff;
        color: #7386d5;
        text-align: center;
        font-size: 0.8em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
        min-height: 35px;}
    .post_bearbeiten2 {
        float: right;
        background: #fff;
        color: #7386D5;
        text-align: center;
        font-size: 0.8em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
        min-height: 35px;
        font-family: 'Montserrat', sans-serif;}

    .atag{
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }

}
