 parent of 51a09c3... neuer header
tml, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box; // 1
}

body {
    line-height:1;
    margin:0;
    padding:0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}


a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* unser code beginnt hier */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}


}

.navbar {
    opacity: 0.93;
}
.test{
    background-color: mediumvioletred;
    position: fixed;
}

.grid-box{
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box2 box2";

}

.box1 {
    grid-area: box1;
    background-color: #fff;
    opacity: 0.36;
    width: 100%;
    height: 100%;

}





.box2 {
    grid-area: box2;


}



.login{
    min-width: 270px;
    position: absolute;

    margin-right: 10% ;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 1.5em;


    width: 30%;
   height: auto;

    background-color: #F7F7F7;
    opacity: 0.91;


}


input{
    width: 100%;
    background: #dcdcdc;
    border:  10px;
    padding: 16px 40px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    height: 50px;
    margin-right: 5px;
    border-color: darkgrey;
    text-align: justify;
    margin-outside: 20px;
}
.submit{
    background-color: #a9a9a9;
}
.submit:hover{
    background-color: dimgrey;
}
.fullBackground{
    text-align: center;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:736px) {
    .grid-box {
        display: grid;
        position: fixed;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "box1 box2";
    }  }

div.panel-body {
    margin-left: 10%;
}

#register-form {
    margin-top: 10%;
}

#login-form{
    margin-top: 10%;

}

input#login-submit {

    border-radius: 20px;
    margin-right: 50%;
    margin-left:50%;
}

input#register-submit {
    border-radius: 20px;
    margin-right: 50%;
    margin-left:50%;
}

a {
    padding: 5%;
}

.panel-heading {
    margin-left: 5%;
    margin-bottom: 5%;
}

.panel-login>.panel-heading {
    border-color: #fff;
    text-align:center;

}


.panel-login>.panel-heading a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;


}
.panel-login>.panel-heading a.active{
    background-color: #e2e6ea;
}

.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));

.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}

#defaultCheck1{
    padding: 8888px;
}
 .container{
     background-color: #dcdcdc; width: 90%; height: 50px; margin-top: 10px; border-radius: 30px; opacity:0.91; margin-left: 20px; padding-right:-20px;
 }

