.titel{

    height: 80px;
    background-color: #ECF0F1;
    -webkit-box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
    box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
}

.titel h1{
    text-align: left;
    font-size: 50px;
    margin: auto;
}
.posts{

    height: 70%;
    margin-top: 40px;
    background-color: #ECF0F1;
    -webkit-box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
    box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
}
.nposts {
    list-style: none;
    height: auto;
    min-height: 30px;
   margin-right: 4%;
    margin-top: 1%;
    background-color: #4b7bec;
    border-radius: 8px;
    padding: 1.5em;
    -webkit-box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
    box-shadow: -1px 1px 30px -8px rgba(0,0,0,0.59);
}